<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GamePath" value="" />
		<add key="AppDataPath" value="" />
		<add key="SteamPath" value="" />
		<add key="Platform" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>