<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GamePath" value=""/>
		<add key="AppDataPath" value=""/>
		<add key="SteamPath" value=""/>
		<add key="VirtualGamePath" value="" />
		<add key="VirtualAppDataPath" value="" />
		<add key="Platform" value="" />
	</appSettings>
</configuration>